.heading nav{
    background-color: rgb(25, 143, 14);
    line-height: 40px;
    font-size:20px;
    text-align:left;
    padding-left: 40px;
}
nav a{
    text-decoration: none;
    color:white;
    margin-right: 50px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
    text-decoration: none;
    color:black;
}
.online{
    text-align: center;
    
}